# compilation and distribution
__pycache__
*.pyc
*.so
ext/build/
ext/torch_extension.egg-info/
dist/
*.egg-info

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
venv/
# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
# Jupyter Notebook files
*.ipynb

# Jupyter Notebook checkpoint directories
.ipynb_checkpoints
# Pycharm editor settings
.idea
.DS_Store

outputs/
ip_images/
op_images/
models_pth/
op_images/
pynb_files/