# compilation and distribution
__pycache__
*.pyc
*.so
ext/build/
ext/torch_extension.egg-info/
dist/
*.egg-info

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
venv/
# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.DS_Store

outputs/
pynb_files/
op_images/